*{
    padding: 0;
    margin: 0;

}
.contacting_form_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 120px;
}
.left__part_img{
    margin-bottom: auto;
}
.contactPart{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.contact_part_title{
    color: white;
    font-size: 65px;
    font-weight: 700;
    margin: 20px 0;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0;

}
.contact_ask_about{
    font-size: 32px;
    font-weight: 700;
    color:#F67E7E;
}
.question_img{
    margin-right: 20px;
}
.right_part_img{
    margin-top: auto;
}

@media screen and (max-width:800px){
    .contacting_form_wrapper{
        flex-direction: column;
    }
    .left__part_img {
        margin-right: auto;
    }
    .right_part_img{
        margin-left: auto;
    }
    .contactPart{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .questions_wrapper{
        width: 100%;
    }
   
}